.label {
  display: inline;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  &.label-sm {
    font-size: 0.8em;
  }
}
a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #bbbbbb;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #a2a2a2;
}
.label-primary {
  background-color: #0a467f;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #062f56;
}
.label-success {
  background-color: #4caf50;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #3d8b40;
}
.label-info {
  background-color: #9c27b0;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #771e86;
}
.label-warning {
  background-color: #ff9800;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #cc7a00;
}
.label-danger {
  background-color: #e51c23;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #b9151b;
}
@import 'mixins/attr', 'mixins/browsers', 'mixins/fixes', 'mixins/reset', 'mixins/placeholder';

@import '_variables.scss';

//
// Toastr
//

@import '~ngx-toastr/toastr';

// Base
.ngx-toastr {
  transition: $transition;
  background-position: 15px center #{'/*rtl:calc(100% - 15px) center*/'} !important;
  border: 0;
  background-color: $gray-100;
  color: $dark-75;
  box-shadow: $box-shadow !important;

  &:hover {
    transition: $transition;
    box-shadow: $box-shadow !important;
    opacity: 1;
  }

  .toast-close-button {
    outline: none !important;
    font-size: 0;

    &:before {
      //   @include ki(get($ki-types, close));
      font-size: 0.9rem;
    }
  }

  // Title
  .toast-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  // Message
  .toast-message {
    font-size: 1rem;

    a {
      text-decoration: underline;
    }
  }

  // States
  &.toast-success {
    background-color: $success;
    color: $success-inverse;
  }

  &.toast-info {
    background-color: $info;
    color: $info-inverse;
  }

  &.toast-warning {
    background-color: $warning;
    color: $warning-inverse;
  }

  &.toast-error {
    background-color: $danger;
    color: $danger-inverse;
  }
}
