html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #ededee;
  color: #464646;
}
p {
  margin-bottom: 12px;
}
