/* -- Typography -- */
.text-primary {
  color: #0a467f !important;
}

.text-large {
  font-size: 200%;
}

.text-nowrap {
  white-space: nowrap;
}

.text-black {
  color: black;
}

.text-color-inherit {
  color: inherit;
}
