<div class="row my-2">
    <div class="col-12 d-flex justify-content-end">
        <a href="javascript:" class="btn btn-light btn-sm min-100" (click)="isOpen = !isOpen">
          Configurar assistente
        </a>
    </div>
</div>
<div class="container-fluid my-2 pt-2 card" [collapse]="!isOpen">
    <div class="card-body p-1">
    <div class="row py-2">
        <div class="col">
            <h5>Configuração do assistente virtual</h5>
            <p class="text-muded small mb-0">
                Nesta seção é possível configurar o assistente virtual para determinado evento. Para isso é necessário definir os assuntos que o assistente irá auxiliar o usuário e então fornecer exemplos de perguntas que o participante pode realizar e as respostas que o assistente deve dar ao participante.
            </p>
        </div>
    </div>
    <div #intents>
    </div>
    </div>
    <div class="row py-3 card-footer">
        <div class="col justify-content-center text-center">
            <button class="btn btn-primary mx-2" (click)="updateIntent()" >Salvar alterações</button>
            <button class="btn btn-secondary" (click)="addIntent()">+ Adicionar novo assunto</button>
        </div>
    </div>
</div>