<div class="modal-header">
  <h4 class="modal-title margin-0">Anexar mídia</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="fileSquare mt-2">
    <div class="row"></div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Selecione um arquivo para enviar</p>
        <label class="btn btn-primary btn-lg">
          Selecionar arquivo
          <input
            type="file"
            (change)="selectFile($event)"
            accept="video/mp4,audio/mp3,audio/wav,audio/ogg,image/png,image/gif,image/jpg,image/jpeg,application/zip"
            capture="camera"
            id="fileSelector"
          />
        </label>
      </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
      <video [src]="file.url" id="uploadVideo" height="360" controls *ngIf="file?.type == 'video'"></video>
      <audio [src]="file.url" id="uploadAudio" width="480" controls *ngIf="file?.type == 'audio'"></audio>
      <img [src]="file.url" id="uploadImage" spam="img-thumbnail" *ngIf="file?.type == 'image'" />
      <button class="btn btn-success btn-shadow min-100" (click)="uploadZip()" (disabled)="(!file)" *ngIf="file?.type == 'application'">
        Validar Input/Output
      </button>
    </div>
  </div>
  <p class="help-block text-muted">
    São suportadas imagens nos formatos gif, jpg e png; vídeos no formato mp4 e áudios no formato mp3, wav e ogg; arquivos para correção de
    código em formato zip (in/out).
  </p>

  <div class="row">
    <div class="col-12 justify-content-end d-flex">
      <a (click)="close()" class="btn btn-white btn-shadow mr-4">CANCELAR</a>

      <button class="btn btn-success btn-shadow min-100" (click)="uploadFile()" (disabled)="(!file)">ENVIAR ARQUIVO</button>
    </div>
  </div>
</div>
