<div class="card box-event mt-4">
  <div class="card-header box-header justify-content-between d-flex" [style]="{ 'background-color': formValue.color }">
    {{ formValue.title ? formValue.title : 'Novo Evento' }}
    <div class="box-buttons">
      <a class="btn btn-default btn-sm text-white" (click)="loadDetail()"><i class="fas fa-edit"></i></a>
      <a class="btn btn-default btn-sm text-white" (click)="deleteEvent()"><i class="fas fa-trash-alt"></i></a>
    </div>
  </div>
  <div class="card-body box-link" [collapse]="isOpen">
    <div class="row">
      <div class="col">
        Disparos:
        <span *ngIf="formValue.triggers.length == 0" class="text-danger">Não há disparos adicionados.</span>
        <span *ngIf="formValue.triggers.length > 0">
          {{ formValue.triggers[0].getDescription() }}
          <span *ngIf="formValue.triggers.length > 1"
            >e mais {{ formValue.triggers.length - 1 }} disparo<span *ngIf="formValue.triggers.length > 2">s</span></span
          >
        </span>
      </div>
      <a href="javascript:" class="link-abs" (click)="loadDetail()">{{ event.title }}</a>
    </div>
  </div>

  <form focusInvalidInput class="card-body box-body" [formGroup]="form" [collapse]="!isOpen">
    <div class="row">
      <div class="col-6 form-group">
        <label class="form-label" [for]="'title-active' + index">Título <b class="text-danger">*</b>:</label>
        <input
          class="form-control-plaintext border-bottom"
          [id]="'title-active' + index"
          formControlName="title"
          focusInput
          type="text"
          placeholder="Título"
        />
        <input-validations
          *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
          [errors]="form.controls['title'].errors"
          label="Nome"
        >
        </input-validations>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label [for]="'program-description-active' + index"> Descrição do programa </label>
        <textarea
          class="form-control-plaintext border-bottom w-100 resize-none"
          [id]="'program-description-active' + index"
          rows="2"
          maxlength="200"
          placeholder="Descrição do evento"
          formControlName="description"
        ></textarea>
        <input-validations
          *ngIf="form.controls['description'].invalid && form.controls['description'].touched"
          [errors]="form.controls['description'].errors"
          label="Descrição"
        >
        </input-validations>
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <esm-choose-color (response)="updateColor($event)"></esm-choose-color>
      </div>
    </div>

    <div class="row">
      <div class="col form-group text-center">
        <a class="btn btn-primary py-2 px-4" href="javascript:" (click)="goToInterventions()">ADICIONAR INTERVENÇÕES</a>
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <p class="font-weight-bold">Intervenções cadastradas</p>

        <ul>
          <li *ngFor="let intervention of this.form.get('interventions').value">
            {{ intervention.getOrderDescription() + ' - ' + intervention.getTypeDescription() + ' - ' + intervention.getDescription() }}
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <p class="font-weight-bold">Disparos cadastrados</p>

        <div *ngFor="let trigger of form.get('triggers').value" class="mr-2 mb-2 d-inline-block">
          <a class="label label-success" href="javascript:" (click)="removerTrigger(trigger)">
            {{ trigger.getDescription() }} <i class="fas fa-times pointer ml-2"></i>
          </a>
        </div>

        <esm-triggers (response)="adicionarTrigger($event)"></esm-triggers>
      </div>
    </div>
  </form>
</div>
