<div class="container-fluid" *ngIf="program | async as _program">
  <div class="row my-5 holder-steps">
    <div class="col-3 step">
      <div class="row justify-content-center text-center">
        <a
          [routerLinkActive]="['rounded-tab-active']"
          [routerLink]="['first/']"
          [style]="{ 'pointer-events': biggerStepOpened >= 1 ? 'auto' : 'none', cursor: biggerStepOpened >= 1 ? 'auto' : 'default' }"
          [class.rounded-tab-done]="biggerStepOpened >= 1"
          class="rounded-tab text-white"
          >1</a
        >
        <i class="fas fa-exclamation-circle text-warning" *ngIf="biggerStepOpened > 1 && _program.title == ''"></i>
      </div>
      <div class="row align-items-center justify-content-center mt-3">
        <small class="font-weight-bold">Informações</small>
      </div>
    </div>
    <div class="col-3 step">
      <div class="row justify-content-center text-center">
        <a
          [routerLinkActive]="['rounded-tab-active']"
          [routerLink]="['second/']"
          [style]="{ 'pointer-events': biggerStepOpened >= 2 ? 'auto' : 'none', cursor: biggerStepOpened >= 2 ? 'auto' : 'default' }"
          [class.rounded-tab-done]="biggerStepOpened >= 2"
          class="rounded-tab text-white"
          >2</a
        >
        <i class="fas fa-exclamation-circle text-warning" *ngIf="biggerStepOpened > 2 && _program.observers.length == 0"></i>
      </div>
      <div class="row align-items-center justify-content-center mt-3">
        <small class="font-weight-bold">Observadores</small>
      </div>
    </div>
    <div class="col-3 step">
      <div class="row justify-content-center text-center">
        <a
          [routerLinkActive]="['rounded-tab-active']"
          [routerLink]="['third/']"
          [style]="{ 'pointer-events': biggerStepOpened >= 3 ? 'auto' : 'none', cursor: biggerStepOpened >= 3 ? 'auto' : 'default' }"
          [class.rounded-tab-done]="biggerStepOpened >= 3"
          class="rounded-tab text-white"
          >3</a
        >
        <i class="fas fa-exclamation-circle text-warning" *ngIf="biggerStepOpened > 3 && _program.users.length == 0"></i>
      </div>
      <div class="row align-items-center justify-content-center mt-3">
        <small class="font-weight-bold">Participantes</small>
      </div>
    </div>
    <div class="col-3 step">
      <div class="row justify-content-center text-center">
        <a
          [routerLinkActive]="['rounded-tab-active']"
          [routerLink]="['fourth/']"
          [style]="{ 'pointer-events': biggerStepOpened >= 4 ? 'auto' : 'none', cursor: biggerStepOpened >= 4 ? 'auto' : 'default' }"
          [class.rounded-tab-done]="biggerStepOpened >= 4"
          class="rounded-tab text-white"
          >4</a
        >
        <i
          class="fas fa-exclamation-circle text-warning"
          *ngIf="biggerStepOpened == 4 && currentStep < 4 && _program.activeEvents.length == 0 && _program.passiveEvents.length == 0"
        ></i>
      </div>
      <div class="row justify-content-center mt-3"><small class="font-weight-bold">Eventos</small></div>
    </div>
  </div>
</div>
