<div class="card" [formGroup]="form">
  <div class="card-body">
    <h3 class="h6">Parâmetro {{ index + 1 }}</h3>

    <div class="row">
      <div class="col-4">
        <div class="form-label-group">
          <input id="name" name="name" type="text" placeholder="Nome visual" class="form-control border-bottom" formControlName="name" />
          <label for="text">Nome visual</label>
        </div>

        <input-validations
          *ngIf="form.controls['name'].invalid && form.controls['name'].touched"
          [errors]="form.controls['name'].errors"
          label="Nome visual"
        >
        </input-validations>
      </div>
      <div class="col-4">
        <div class="form-label-group">
          <input id="key" name="key" type="text" placeholder="Nome real" class="form-control border-bottom" formControlName="key" />
          <label for="text">Nome real</label>
        </div>
        <input-validations
          *ngIf="form.controls['key'].invalid && form.controls['key'].touched"
          [errors]="form.controls['key'].errors"
          label="Nome real"
        >
        </input-validations>
      </div>
      <div class="col">
        <div class="form-label-group">
          <input
            id="default_value"
            name="default_value"
            type="text"
            placeholder="Valor padrão"
            class="form-control border-bottom"
            formControlName="default_value"
          />
          <label for="text">Valor padrão</label>
        </div>
        <input-validations
          *ngIf="form.controls['default_value'].invalid && form.controls['default_value'].touched"
          [errors]="form.controls['default_value'].errors"
          label="Valor padrão"
        >
        </input-validations>
      </div>
      <div class="col-auto">
        <a href="javascript:" class="btn btn-danger btn-sm" (click)="excluir()">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>
