<div *ngIf="program | async as _program">
  <h1>Adicionar participantes</h1>

  <esm-search #search (doSearch)="handleChange($event, true)"></esm-search>

  <div class="container-flex" aria-label="alphabet">
    <div class="row justify-content-center"></div>
    <div class="row justify-content-center">
      <div class="col-12 mb-2 d-flex justify-content-between">
        <button
          *ngFor="let letter of letters"
          type="button"
          class="col btn btn-lg btn-default text-primary font-weight-bold p-1"
          [ngClass]="{ 'btn-default-active': letter === filterQuery }"
          (click)="filter_by(letter)"
        >
          {{ letter }}
        </button>
      </div>
    </div>
  </div>

  <form class="card">
    <div class="card-body">
      <div *ngIf="!programUsers?.length">Você não selecionou nenhum participante.</div>

      <div class="align-items-center" *ngIf="programUsers.length > 0">
        <span>Você adicionou:</span>
        <span *ngFor="let selectedUser of programUsers"> {{ selectedUser.name }}</span>
      </div>
    </div>
  </form>

  <h2 class="mt-4">Selecionar participantes</h2>
  <form *ngIf="!loading" (submit)="submit()">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div *ngIf="!users?.length" class="col-12">O filtro selecionado resultou em nada, tente troca-lo.</div>
          <div class="col-3 d-flex align-items-center overflow-hidden text-nowrap" *ngFor="let user of users">
            <esm-user-checkbox
              [user]="user"
              [label]="getName(user)"
              [checked]="isChecked(user)"
              (addUser)="addProgramUser($event)"
              (removeUser)="removeProgramUser($event)"
            ></esm-user-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between mt-5">
      <div class="col-auto align-self-start">
        <button name="saveButton" class="btn btn-default btn-md min-100">VOLTAR</button>
      </div>
      <div class="col-auto align-self-end">
        <button type="submit" name="saveButton" class="btn btn-primary btn-md min-100">PROSSEGUIR</button>
      </div>
    </div>
  </form>

  <div *ngIf="loading">
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg mb-1"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
  </div>
</div>
