<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <a href="javascript:" class="btn btn-light btn-sm min-100 mt-2" (click)="openComplex = !openComplex">Opções de gamificação</a>
  </div>
  <div class="col-12" [collapse]="!openComplex">
    <div class="card mt-2">
      <div class="card-body" [formGroup]="form">
        <p class="font-weight-bold">Quantidade de pontos para receber ao:</p>

        <div class="form-group row">
          <label for="staticEmail" class="col-md-4 col-form-label text-right text-success">Concluir todas as intervenções:</label>
          <div class="col-auto">
            <div class="input-group">
              <input
                id="completion_points"
                name="completion_points"
                type="number"
                placeholder="0"
                class="form-control border-bottom col-5"
                formControlName="completion_points"
                (change)="sendUpdate({ acao: 'f', campo: 'completion_points' })"
              />
              <div class="input-group-append">
                <span class="input-group-text">pontos</span>
              </div>
            </div>

            <input-validations
              *ngIf="form.controls['completion_points'].invalid && form.controls['completion_points'].touched"
              [errors]="form.controls['completion_points'].errors"
              label="Pontos para receber ao concluir todas as intervenções"
            >
            </input-validations>
          </div>
        </div>

        <div class="form-group row">
          <label for="staticEmail" class="col-md-4 col-form-label text-right">Concluir pela metade as intervenções:</label>
          <div class="col-auto">
            <div class="input-group">
              <input
                id="completion_half_points"
                name="completion_half_points"
                type="number"
                placeholder="0"
                class="form-control border-bottom col-5"
                formControlName="completion_half_points"
                (change)="sendUpdate({ acao: 'f', campo: 'completion_half_points' })"
              />
              <div class="input-group-append">
                <span class="input-group-text">pontos</span>
              </div>
            </div>

            <input-validations
              *ngIf="form.controls['completion_half_points'].invalid && form.controls['completion_half_points'].touched"
              [errors]="form.controls['completion_half_points'].errors"
              label="Pontos para receber ao concluir todas as intervenções"
            >
            </input-validations>
          </div>
        </div>

        <div class="form-group row">
          <label for="staticEmail" class="col-md-4 col-form-label text-right text-danger">Não concluir as intervenções:</label>
          <div class="col-auto">
            <div class="input-group">
              <input
                id="uncomplete_points"
                name="uncomplete_points"
                type="number"
                placeholder="0"
                class="form-control border-bottom col-5"
                formControlName="uncomplete_points"
                (change)="sendUpdate({ acao: 'f', campo: 'uncomplete_points' })"
              />
              <div class="input-group-append">
                <span class="input-group-text">pontos</span>
              </div>
            </div>
          </div>
        </div>

        <p class="font-weight-bold">Badges</p>
        <div class="row">
          <div class="col-2" *ngFor="let badge of form.value.badges; index as i">
            <div class="box-badge">
              <img [src]="badge.media.url" class="img-thumbnail mb-1" [alt]="badge.media.name" />
              <p>{{ badge.name }}</p>

              <button class="btn btn-danger btn-sm w-100" (click)="removerBadge(i)">Remover badge <i class="far fa-trash-alt"></i></button>
            </div>
          </div>
          <div class="col-2">
            <a href="javascript:" class="box-badge box-add d-flex justify-content-center" (click)="openModalBadge()">
              <div class="inner-box align-self-center"><i class="fas fa-plus d-block"></i>Adicionar badge</div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
