<label class="text-primary" [for]="graphIndex + 'scale'">Escolha o tamanho da escala</label>
<select class="mb-4" [(ngModel)]="intervention.scales[0]" [id]="graphIndex + 'scale'">
  <option value="5">5 pontos</option>
  <option value="7">7 pontos</option>
  <option value="9">9 pontos</option>
</select>

<span class="font-weight-bold text-primary mb-2">Escalas</span>
<div class="mb-3" *ngFor="let rowScale of intervention.scales | slice: 1 | chunk: 2; let i = index; trackBy: trackByFn">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <label class="pr-2" [for]="graphIndex + 'scale' + i">{{ i + 1 }}-</label>
    <textarea
      class="w-100"
      cols="1"
      placeholder="Valor do começo da escala"
      [(ngModel)]="intervention.scales[i * 2 + 1]"
      [id]="graphIndex + 'scale' + i"
    ></textarea>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-1">
    <label class="pr-2" [for]="graphIndex + 'scale' + i">{{ i + 1 }}+</label>
    <textarea
      class="w-100"
      cols="1"
      placeholder="Valor do fim da escala"
      [(ngModel)]="intervention.scales[i * 2 + 2]"
      [id]="graphIndex + 'scale' + i"
    ></textarea>
    <a href="javascript:" (click)="removeChoice(i + 1)" [ngClass]="{ 'link-disabled': intervention.scales.length <= 3 }"
      ><i class="fas fa-minus-circle text-primary pr-1 pl-3" style="font-size: 1.3em"></i
    ></a>
  </div>
</div>

<button class="btn btn-success mt-2" (click)="addChoice()">Aumentar a escala</button>
