<div
  #interventionDiv
  class="card position-absolute"
  style="top: 0; width: 300px"
  cdkDrag
  [cdkDragFreeDragPosition]="offset"
  (cdkDragStarted)="onDragStart()"
  (cdkDragMoved)="moving()"
>
  <div class="d-flex align-items-center justify-content-between bg-primary text-white w-100 p-2" cdkDragHandle>
    <span class="font-weight-bold">{{ interventionCoordinate.orderDescription }} - {{ interventionCoordinate.typeDescription }}</span>
    <i class="fas fa-times pointer" (click)="remove()"></i>
  </div>
  <div class="w-100 p-3">
    <div class="w-100 mb-3">
      <input type="radio" [checked]="interventionCoordinate.first" name="first" [id]="graphIndex + '-first'" (click)="setFirst()" />
      <label [for]="graphIndex + '-first'">1ª Intervenção</label>
    </div>
    <div class="w-100 mb-3">
      <input type="checkbox" [(ngModel)]="interventionCoordinate.obrigatory" [id]="graphIndex + '-obrigatory'" />
      <label [for]="graphIndex + '-obrigatory'">Obrigatória</label>
    </div>
    <div class="d-flex flex-column">
      <label [for]="graphIndex + '-statement'"
        >Digite a {{ interventionCoordinate.type === 'question' ? 'questão' : 'mensagem' }} ({{
          interventionCoordinate.statement.length
        }}/800)</label
      >
      <textarea [id]="graphIndex + '-statement'" [(ngModel)]="interventionCoordinate.statement" maxlength="800"></textarea>
    </div>

    <div class="d-flex w-100">
      <button class="btn btn-outline-primary my-4 mx-auto">Anexar mídia <i class="fas fa-paperclip"></i></button>
    </div>

    <esm-question
      *ngIf="interventionCoordinate.type === 'question'"
      [intervention]="interventionCoordinate.intervention"
      [graphIndex]="graphIndex"
    ></esm-question>

    <esm-media
      *ngIf="interventionCoordinate.type === 'media'"
      [intervention]="interventionCoordinate.intervention"
      [graphIndex]="graphIndex"
    >
    </esm-media>

    <esm-external-media
      *ngIf="interventionCoordinate.type === 'task'"
      [intervention]="interventionCoordinate.intervention"
      [graphIndex]="graphIndex"
    >
    </esm-external-media>

    <div *ngIf="interventionCoordinate.type !== 'question' || interventionCoordinate.question_type !== 1">
      <hr style="border-top: 2px dashed #e8e8e8" />
      <select class="w-100" [(ngModel)]="nextInterventionSelect" (change)="setNextTo()">
        <option disabled>Próxima intervenção</option>
        <option *ngFor="let intervention of interventionHtmlElements; index as i" [value]="i" [disabled]="i === graphIndex">
          {{ intervention.orderDescription }}
          -
          {{ intervention.typeDescription }}
        </option>
        <option [value]="null">Finalizar</option>
      </select>
    </div>
  </div>
</div>
