<p class="font-weight-bold">Cor do evento:</p>

<div class="btn-group">
  <a href="javascript:" (click)="choose('#0a467f')" class="btn bg-primary box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#dc3545')" class="btn bg-danger box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#17a2b8')" class="btn bg-info box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#28a745')" class="btn bg-success box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#ffc107')" class="btn bg-warning box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#343a40')" class="btn bg-dark box-color m-0 my-1"></a>
  <a href="javascript:" (click)="choose('#6c757d')" class="btn bg-secondary box-color m-0 my-1"></a>
</div>
