.outro {
  color: white;
  border-radius: 5px;
  background-color: blue;
  font-size: 9px;
  line-height: 9px;
}

.eu {
  color: black;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 9px;
  line-height: 9px;
  font-style: italic;
}
