<nav class="d-flex align-items-stretch justify-content-around bg-primary w-100 position-fixed px-2 text-white">
  <div class="d-flex align-items-center justify-content-center" (click)="debug()">
    <img class="pr-1" src="assets/images/logo-espim-web.svg" alt="Logo do Espim" />
    <span class="text-large">ESPIM</span>
  </div>

  <ul class="navbar align-items-center justify-content-center">
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle btn btn-primary" role="button" data-toggle="dropdown"
        ><i class="fas fa-plus-circle pr-1"></i>Adicionar</a
      >
      <ul class="dropdown-menu">
        <li *ngFor="let itemQuestion of itensQuestion">
          <a class="dropdown-item" href="javascript:" (click)="addIntervention(itemQuestion.type, itemQuestion.subtype)">
            <i [class]="itemQuestion.icon" class="pr-1"></i><span>{{ itemQuestion.text }}</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-primary" href="javascript:" (click)="previousState()" [class]="{ disabled: !nextStateEnabled() }">
        <i class="fas fa-undo-alt pr-1"></i> <span>Desfazer</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-primary" href="javascript:" (click)="nextState()" [class]="{ disabled: !previousStateEnabled() }">
        <i class="fas fa-redo-alt pr-1"></i> <span>Refazer</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-primary" href="javascript:" (click)="zoomIn()">
        <i class="fas fa-search-plus pr-1"></i> <span>Mais zoom</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-primary" href="javascript:" (click)="zoomOut()">
        <i class="fas fa-search-minus pr-1"></i> <span>Menos zoom</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link btn btn-primary" href="javascript:" (click)="finish()">
        <i class="fas fa-check-circle pr-1"></i> <span>Concluir</span></a
      >
    </li>
  </ul>

  <!-- <div class="d-flex align-items-center text-center btn btn-primary"></div>
  <div class="d-flex align-items-center text-center btn btn-primary">
    <i class="fas fa-redo-alt pr-1"></i>
    <span>Refazer</span>
  </div>
  <div class="d-flex align-items-center text-center btn btn-primary" (click)="zoomPopUp()">
    <i class="fas fa-search-plus pr-1"></i>
    <span>Zoom</span>
  </div>
  <div class="d-flex align-items-center text-center btn btn-primary">
    <i class="fas fa-download pr-1"></i>
    <span>Importar</span>
  </div>
  <div class="d-flex align-items-center text-center btn btn-primary">
    <i class="fas fa-upload pr-1"></i>
    <span>Exportar</span>
  </div>
  <div class="d-flex align-items-center text-center btn btn-primary" (click)="finish()">
    <i class="fas fa-check-circle pr-1"></i>
    <span>Concluir</span>
  </div> -->
</nav>
