<!--Forms-->
<div class="form" focusInvalidInput [formGroup]="form">
  <!-- (submit)="submit()">-->
  <h1 class="h4 mb-3">Informações do Programa</h1>

  <div class="row">
    <div class="col-12 form-group">
      <input type="checkbox" name="program-checkbox" id="program-checkbox" formControlName="isPublic" />
      <label for="program-checkbox">Programa público</label>
    </div>
  </div>

  <!--Nome do programa-->
  <div class="row">
    <div class="col-6 form-group">
      <div class="form-label-group">
        <input
          id="title"
          name="title"
          type="text"
          placeholder="Nome do programa"
          formControlName="title"
          class="form-control border-bottom"
          (change)="sendUpdate('title')"
        />
        <label for="title"> Nome do programa <b class="text-danger">*</b> </label>
      </div>
      <input-validations
        *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
        [errors]="form.controls['title'].errors"
        label="Nome do programa"
      >
      </input-validations>
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <div class="form-label-group">
        <textarea
          class="form-control border-bottom w-100"
          name="program-description"
          id="program-description"
          rows="2"
          placeholder="Descrição do programa"
          formControlName="description"
          (change)="sendUpdate('description')"
        ></textarea>
        <label for="program-description"> Descrição do programa </label>
      </div>
      <input-validations
        *ngIf="form.controls['description'].invalid && form.controls['description'].touched"
        [errors]="form.controls['description'].errors"
        label="Descrição"
      >
      </input-validations>
    </div>
  </div>

  <div class="row">
    <div class="col-7 form-group">
      <label for="beginDate">Data e hora de início:</label>

      <div class="form-row form-group input-group">
        <!--Data de Início-->
        <div class="col form-inline">
          <div class="form-label-group mt-3 w-100">
            <input
              type="text"
              placeholder="Data de início"
              name="beginDate"
              autocomplete="off"
              formControlName="beginDate"
              class="form-control border-bottom w-100"
              bsDatepicker
              [bsConfig]="bsConfig"
              (focus)="saveDate('beginDate')"
              (blur)="sendDate('beginDate')"
            />
            <label for="beginDate">Data de início</label>
          </div>
          <input-validations
            *ngIf="form.controls['beginDate'].invalid && form.controls['beginDate'].touched"
            [errors]="form.controls['beginDate'].errors"
            label="Data de início"
          >
          </input-validations>
        </div>

        <div class="col">
          <timepicker formControlName="beginTime" (mouseenter)="horaOn('beginTime')" (mouseleave)="horaOut('beginTime')"></timepicker>
          <input-validations
            *ngIf="form.controls['beginTime'].invalid && form.controls['beginTime'].touched"
            [errors]="form.controls['beginTime'].errors"
            label="Hora de início"
          >
          </input-validations>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7 form-group">
      <label for="beginDate">Data e hora de fim:</label>
      <div class="form-row form-group input-group">
        <!--Data de Fim-->
        <div class="col form-inline">
          <div class="form-label-group mt-3 w-100">
            <input
              type="text"
              placeholder="Data de fim"
              formControlName="endDate"
              autocomplete="off"
              class="form-control border-bottom w-100"
              bsDatepicker
              [bsConfig]="bsConfig"
              (focus)="saveDate('endDate')"
              (blur)="sendDate('endDate')"
            />
            <label for="endDate">Data de fim</label>
          </div>
          <input-validations
            *ngIf="form.controls['endDate'].invalid && form.controls['endDate'].touched"
            [errors]="form.controls['endDate'].errors"
            label="Data de início"
          >
          </input-validations>
        </div>

        <div class="col">
          <timepicker formControlName="endTime" (mouseenter)="horaOn('endTime')" (mouseleave)="horaOut('endTime')"></timepicker>
          <input-validations
            *ngIf="form.controls['endTime'].invalid && form.controls['endTime'].touched"
            [errors]="form.controls['endTime'].errors"
            label="Hora de fim"
          >
          </input-validations>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <a routerLink="/private/programs/list" class="btn btn-success btn-lg btn-shadow">VOLTAR</a>
    </div>
    <div class="col-auto">
      <button type="submit" name="saveButton" class="btn btn-primary btn-lg btn-shadow min-100" translate>PROSSEGUIR</button>
    </div>
  </div>
</div>
