<div *ngIf="program | async as _program">
  <h1>Adicionar observadores</h1>

  <esm-search (doSearch)="handleChange($event, true)"></esm-search>

  <div class="container-flex" aria-label="alphabet">
    <div class="row justify-content-center"></div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 d-flex justify-content-between pr-md-2" #alphabet1>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('a', $event)">*</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('a', $event)">A</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('b', $event)">B</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('c', $event)">C</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('d', $event)">D</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('e', $event)">E</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('f', $event)">F</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('g', $event)">G</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('h', $event)">H</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('i', $event)">I</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('j', $event)">J</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('k', $event)">K</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('l', $event)">L</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('m', $event)">M</button>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-between pl-md-2" #alphabet2>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('n', $event)">N</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('o', $event)">O</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('p', $event)">P</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('q', $event)">Q</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('r', $event)">R</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('s', $event)">S</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('t', $event)">T</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('u', $event)">U</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('v', $event)">V</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('w', $event)">W</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('x', $event)">X</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('y', $event)">Y</button>
        <button type="button" class="btn btn-lg btn-default text-primary font-weight-bold p-1" (click)="filter_by('z', $event)">Z</button>
      </div>
    </div>
  </div>

  <form class="card">
    <div class="card-body">
      <div *ngIf="!programObservers?.length">Você não selecionou nenhum observador.</div>

      <div class="align-items-center" *ngIf="programObservers.length > 0">
        <span>Você adicionou:</span>
        <span *ngFor="let selectedObserver of programObservers"> {{ selectedObserver.user.name }}</span>
      </div>
    </div>
  </form>

  <h2 class="mt-4">Selecionar observadores</h2>
  <form class="card" *ngIf="!loading">
    <div class="card-body">
      <div class="row">
        <div *ngIf="!observers?.length" class="col-12">O filtro selecionado resultou em nada, tente troca-lo.</div>
        <div class="col-3 d-flex align-items-center overflow-hidden text-nowrap" *ngFor="let observer of observers">
          <esm-user-checkbox
            [observer]="observer"
            [checked]="isChecked(observer)"
            [disabled]="isDisabled(observer)"
            (addUser)="addProgramObserver($event)"
            (removeUser)="removeProgramObserver($event)"
          ></esm-user-checkbox>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="loading">
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg mb-1"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
    <div class="loader-bg"></div>
  </div>
</div>
