@import './app/stylesheets/_reset.scss';

@import './app/stylesheets/_labels.scss';
@import './app/stylesheets/_typography.scss';
@import './app/stylesheets/_toastr.scss';
@import './app/stylesheets/_forms.scss';
@import './app/stylesheets/_buttons.scss';

// Modal fullscreen
.modal-fullscreen {
  max-width: 100% !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  .modal-content {
    height: 100%;
    width: 100%;
  }
}

.modal-intervention {
  esm-intervention,
  .tiled-background,
  .holder-tiled-background,
  esm-canvas {
    width: 100%;
    height: 100%;
  }

  .tiled-background {
    position: relative;
    overflow: auto;
  }
}

// Tables
table {
  td {
    position: relative;
  }
}
.link-abs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -999999px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.loader-bg {
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 10.5px;
  position: relative;
  opacity: 0.4;
  &.w-25 {
    width: 25%;
  }
  &.w-50 {
    width: 50%;
  }
  &.w-75 {
    width: 75%;
  }
  &.w-90 {
    width: 90%;
  }
}

/* -- Landing page -- */
.youtube-video {
  width: 100% !important;
  height: calc(62.5vw * 0.5625);
}

/* imagens index */
@media (max-width: 576px) {
  .img-linha-do-tempo {
    width: 100px;
  }

  .index-timeline-bg img {
    height: 660px;
  }

  .timeline-event {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 65%;
  }
}

@media (min-width: 577px) {
  .img-linha-do-tempo {
    width: 200px;
  }

  .index-timeline-bg img {
    height: 710px;
  }

  .timeline-event {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 51.5%;
  }
}

@media (min-width: 1200px) {
  .img-linha-do-tempo {
    width: 300px;
  }

  .index-timeline-bg img {
    height: 800px;
  }

  .timeline-event {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 50%;
  }
}

@media (min-width: 1500px) {
  .img-linha-do-tempo {
    width: 400px;
  }

  .index-timeline-bg img {
    height: 940px;
  }
}

@media (min-width: 1750px) {
  .img-linha-do-tempo {
    width: 500px;
  }

  .index-timeline-bg img {
    height: 1070px;
  }

  .timeline-event {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 48%;
  }
}

/*Atrimanhas para tornar o svg responsivo*/
.documentacao-index {
  background-color: #092f53;
}

.index-timeline {
  position: relative;
}

.index-timeline-bg {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 49%;
}

.medium {
  font-size: 90% !important;
}

@media (min-width: 1200px) {
  .text-xl-inherit {
    text-align: inherit !important;
  }

  .text-xl-black {
    color: black !important;
  }
}

.btn-shadow,
.box-shadow {
  box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
}

.resize-none {
  resize: none;
}

/* -- Borders -- */
.no-border {
  border: 0;
}

.no-margin {
  margin: 0 !important;
}

.min-100 {
  min-width: 200px;
}

.border-lg {
  border: 2px solid #979797;
}

.border-bottom-css {
  border-bottom: 2px solid #dee2e6;
}
/* -- Rounded things -- */
.rounded-left-lg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-right-lg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-tab,
.rounded-tab-active,
.rounded-tab-done {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #bdbdbd;
}

.rounded-tab-done {
  background: #04c481;
}

.rounded-tab-active {
  background-color: #00578f !important;
}

/* -- Backgrounds -- */
.bg-primary {
  background-color: #0a467f !important;
}

.bg-success {
  background-color: #04c481 !important;
}

.bg-gray {
  background-color: #979797 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-light {
  background-color: #f3f3f3 !important;
}

/* -- Widths & Heights -- */
.w-62 {
  width: 62.5% !important;
}

.w-px-100 {
  width: 100px !important;
}

.w-px-200 {
  width: 200px;
}

.w-px-300 {
  width: 300px !important;
}

.w-px-350 {
  width: 350px !important;
}

@media (min-width: 540px) {
  .w-sm-50 {
    width: 50% !important;
  }
}

@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-px-100 {
    width: 100px !important;
  }
  .w-xl-px-200 {
    width: 200px !important;
  }

  .w-xl-px-300 {
    width: 300px !important;
  }

  .w-main {
    width: 75% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-35 {
    width: 35% !important;
  }

  .w-xl-40 {
    width: 40% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-60 {
    width: 60% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-85 {
    width: 85% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }

  .h-xl-px-72 {
    height: 72px;
  }
}

@media (min-width: 1500px) {
  .w-main {
    width: 65% !important;
  }
}

/* -- CSS geral -- */
a {
  text-decoration: none;
}

.popup {
  position: fixed;
  left: calc(100vw / 2 - 341px / 2);
}

.underline {
  text-decoration: underline !important;
}

.box-shadow-0 {
  box-shadow: none;
}

.box-shadow-0:hover {
  box-shadow: none;
}

.box-shadow-0:focus {
  box-shadow: none;
}

.opacity-10 {
  opacity: 10%;
}

.card-lg {
  padding: 40px 70px;
}

.card-dashed {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px dashed rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.filter-blur {
  filter: blur(2px);
}

.square-90 {
  width: 90px;
  height: 90px;
}

.dropdown-toggle-noArrow::after {
  display: none;
}

/* -- header -- */
/* Exchanging menu hover color */
.navbar li.c-hover:hover {
  background-color: #003061;
}

/* Exchanging the background and font colors of the active dropdown menu links */
.navbar li .dropdown-item:active {
  background-color: #ededee;
  color: black;
}

/* Making the link from the current page acquire active link characteristics */
.navbar .active {
  background-color: #003061;
}

/* Changing the menu background color */
.navbar {
  background-color: #0a467f;
}

.names {
  color: #00578f;
}

/* Exchanging dropdown menu hover color */
a.dropdown-item:hover {
  background-color: #ededee;
}

/* -- Body -- */
/* Exchanging background and font color */
body {
  background: #ededee;
  color: #464646;
}
/* -- links -- */

.links:hover {
  text-decoration: none;
}

/* -- Icons -- */
[class^='input-with-icon'] input[type='text'] {
  padding-left: 2.3em;
}

[class^='input-with-icon'] {
  position: relative;
}

[class^='input-with-icon'] i {
  position: absolute;
  top: 0;
  z-index: 10;
}

.input-with-icon-r i {
  right: 0;
  padding: 0.6em 0em;
}

.input-with-icon-l i {
  padding: 0.6em 0.6em;
  left: 0;
}

.fa-edit:hover {
  color: #0056b3;
}

.fa-trash-alt:hover {
  color: #0056b3;
}

.fa-chart-pie:hover {
  color: #0056b3;
}

/* -- CSS especificos -- */
/* -- addProgram -- */
.z-2 {
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.table-image {
  width: 6em;
  height: 4em;
}

/* -- Media sizes -- */
/* Editing the dropdown menu for medium screens */
@media (max-width: 768px) {
  .dropdown-menu {
    background-color: #003061;
    border: 0px;
  }

  a.dropdown-item {
    color: #ffffff;
  }
}

/* Editing buttons for small screens */
@media (max-width: 576px) {
  #buttonClass {
    display: flex;
    justify-content: center;
  }

  .popup {
    width: 100% !important;
    left: 0px;
  }
}

@media (min-width: 1200px) {
  .popup {
    width: 50% !important;
    left: calc(100vw / 2 - 25%);
  }
}

@media (min-width: 1500px) {
  .popup {
    width: 25% !important;
    left: calc(100vw / 2 - 12.5%);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
}

.link-disabled {
  cursor: none;
  pointer-events: none;
  opacity: 0.7;
}
