.holder-tiled-background {
  padding-top: 60px;
}

.tiled-background {
  background-size: 45px 45px;
  background-image: linear-gradient(to right, #eeeeee 1px, transparent 1px), linear-gradient(to bottom, #eeeeee 1px, transparent 1px);
}
