<h1>Adicionar eventos</h1>

<div class="mt-4 clearfix" *ngFor="let event of activeEvents; index as i">
  <!-- <esm-active-event [event]="event" *ngIf="event.getType() === 'active'"></esm-active-event> -->
</div>

<div class="clearfix mt-5">
  <h1>Adicionar coleta por sensores</h1>
  <div class="clearfix" *ngFor="let event of passiveEvents; index as i">
    <esm-passive-event [event]="event"></esm-passive-event>
  </div>

  <div class="box-event mt-2 bg-primary" *ngIf="passiveEvents.length == 0">
    <div class="box-header">Não há coleta por sensores.</div>
  </div>

  <div class="clearfix mt-2">
    <button name="saveButton" class="btn btn-white btn-shadow min-100" (click)="addPassiveEvent()">ADICIONAR COLETA</button>
  </div>
</div>

<div class="row justify-content-end mt-5">
  <div class="col-auto">
    <button name="saveButton" class="btn btn-success min-100">VOLTAR</button>
  </div>
  <div class="col-auto">
    <button type="submit" name="saveButton" class="btn btn-primary min-100" (submit)="submit()">FINALIZAR</button>
  </div>
</div>
