<div class="mx-auto mt-4 card w-main container-fluid">
  <div class="row">
    <section class="p-0 mx-auto bg-white rounded col-12 p-xl-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="h4 font-weight-bold" translate *ngIf="!id">private.participants.add.title</h1>
            <h1 class="h4 font-weight-bold" translate *ngIf="id">private.participants.add.titleEdit</h1>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="save($event)">
          <div class="row">
            <div class="col-6 form-group">
              <label for="text" class="sr-only" translate>private.participants.add.name</label>
              <input
                id="name"
                name="name"
                type="text"
                placeholder="{{ 'private.participants.add.alias' | translate }}"
                class="form-control-plaintext border-bottom"
                formControlName="alias"
                [readonly]="editing"
              />
              <input-validations
                *ngIf="form.controls['alias'].invalid && form.controls['alias'].touched"
                [errors]="form.controls['alias'].errors"
                label="Nome"
              >
              </input-validations>
            </div>
          </div>

          <div class="row">
            <div class="col-6 form-group">
              <label for="email" class="sr-only" translate>private.participants.add.email</label>
              <input
                id="email"
                name="email"
                type="email"
                placeholder="{{ 'private.participants.add.email' | translate }}"
                class="form-control-plaintext border-bottom"
                formControlName="email"
                [readonly]="editing"
              />
              <input-validations
                *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
                [errors]="form.controls['email'].errors"
                label="E-mail"
              >
              </input-validations>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <button type="submit" name="saveButton" class="btn btn-success min-100" translate>private.participants.add.saveButton</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
