<div class="mx-auto mt-4 card card-lg w-main container-fluid">
  <div class="row">
    <section class="p-0 mx-auto bg-white rounded col-12 p-xl-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="h4" translate *ngIf="!id">private.participants.add.title</h1>
            <h1 class="h4" translate *ngIf="id">private.participants.add.titleEdit</h1>
          </div>
        </div>

        <form [formGroup]="form" focusInvalidInput #formElement (ngSubmit)="save($event)" class="mt-4">
          <div class="row">
            <div class="col-6 form-group">
              <div class="form-label-group">
                <input
                  id="alias"
                  name="alias"
                  type="text"
                  [placeholder]="'private.participants.add.alias' | translate"
                  class="form-control border-bottom"
                  formControlName="alias"
                  [readonly]="editing"
                />
                <label for="text" translate>private.participants.add.alias</label>
              </div>
              <input-validations
                *ngIf="form.controls['alias'].invalid && form.controls['alias'].touched"
                [errors]="form.controls['alias'].errors"
                [label]="'private.participants.add.alias' | translate"
              >
              </input-validations>
            </div>
          </div>

          <div class="row">
            <div class="col-6 form-group">
              <div class="form-label-group">
                <input
                  id="email"
                  name="email"
                  type="email"
                  placeholder="{{ 'private.participants.add.email' | translate }}"
                  class="form-control border-bottom"
                  formControlName="email"
                  [readonly]="editing"
                />
                <label for="email" translate>private.participants.add.email</label>
              </div>
              <input-validations
                *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
                [errors]="form.controls['email'].errors"
                label="E-mail"
              >
              </input-validations>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <button type="submit" name="saveButton" class="btn btn-success min-100" translate>private.participants.add.saveButton</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
