<div class="mx-auto mt-4 card w-main container-fluid">
  <div class="row">
    <section class="p-0 mx-auto bg-white rounded col-12 p-xl-2">
      <div class="container-fluid">
        <div class="p-4 row p-xl-5">
          <div class="p-0 mt-4 col-12 mt-xl-0">
            <h1 class="h4 font-weight-bold" translate>private.participants.add.title</h1>
          </div>
          <form class="pb-3 pl-0 pr-0 col-12" [formGroup]="form" (submit)="save($event)">
            <div class="container-fluid">
              <div class="row">
                <div class="p-0 mt-4 mb-4 col-12">
                  <div class="form-group">
                    <label for="text" class="sr-only" translate>private.participants.add.name</label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      placeholder="{{ 'private.participants.add.name' | translate }}"
                      class="form-control-plaintext border-bottom"
                      formControlName="alias"
                      [readonly]="editing"
                    />
                    <input-validations
                      *ngIf="form.controls['alias'].invalid && form.controls['alias'].touched"
                      [errors]="form.controls['alias'].errors"
                      label="Nome"
                    >
                    </input-validations>
                  </div>
                  <div class="form-group">
                    <label for="email" class="sr-only" translate>private.participants.add.email</label>
                    <input
                      id="email"
                      name="email"
                      type="email"
                      placeholder="{{ 'private.participants.add.email' | translate }}"
                      class="form-control-plaintext border-bottom"
                      formControlName="email"
                      [readonly]="editing"
                    />
                    <input-validations
                      *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
                      [errors]="form.controls['email'].errors"
                      label="E-mail"
                    >
                    </input-validations>
                  </div>
                </div>
                <button
                  type="submit"
                  name="saveButton"
                  class="p-3 mx-auto mt-4 btn btn-success col-7 col-xl-4 px-xl-0 mt-xl-0 font-weight-bold"
                  [disabled]="form.invalid"
                  translate
                >
                  private.participants.add.saveButton
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
